--- 
--- 

<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class="text-5xl font-bold my-5">About</h2>
    <p class="text-zinc-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti nesciunt, magni voluptatibus provident at perferendis quod architecto sapiente explicabo quasi quis eos voluptas minus suscipit saepe quas amet omnis ex.</p>

</section>