--- 
--- 

<header class="bg-zinc-800 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold">Protect your password</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, cum voluptate laudantium beatae atque numquam explicabo vitae tempora voluptatum, dolores consequuntur expedita voluptatem. Ad fugiat blanditiis cupiditate quis omnis odit!</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Lorem</button>
    </div>
    <img src="/images/img-1.svg" alt="img-1.svg" class="w-80">
</header>